[viewBag]
==
<!-- Contact-->
<section class="contact-section bg-black">
<div class="container">
<div class="row no-gutters mb-5">
    <div class="col-lg-12 text-center">
    <a class="shop six-point text-white" target="_blank" href="https://www.instagram.com/soulstrology/">FOLLOW THE @SOULSTROLOGY COSMIC FEED</a>
    </div>
    <div class="col-lg-12 mx-auto mt-2 mb-2">
    
    <div class="instafeed-container" id="instafeed-container"></div>

	<script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
	<script type="text/javascript">
	var userFeed = new Instafeed({
		get: 'user',
		target: "instafeed-container",
    	resolution: 'low_resolution',
		accessToken: '[YOUR INSTAGRAM ACESS TOKEN]',
		limit: 5,
		
	});
	userFeed.run( );
	</script>
	
	
	</div>
	<div class="col-lg-12 mx-auto text-center mt-2 mb-4">
    <p class="cotton-candy"><i>#IMWITHTHECOSMOS</i></p>
    </div>
</div>        
</div>


{% if user %}
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-2">I'M WITH THE COSMOS MAILING LIST</h2>
            <p class="text-white">GRANTING YOU LIMITED ACCESS TO THE MEMBERSHIP & A FREE SOUNDBATH RECORDING, SO YOU CAN SEE WHAT IT MEANS TO BE ONE WITH THE COSMOS.</p>
                    
            <form id="subscribe-form"
                  data-request="mailPreview::onSignup"
                  data-request-update="'mailPreview::result': '#subscribe-form'" 
                  class="validate form-inline d-flex" >
                    
            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="email" type="text" placeholder="Enter email address..."/>
            <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
            </form>
        </div>
    </div>
{% endif %} 

<div class="container">  
    <div class="row">
        <div class="col-md-6 mb-3 mb-md-0">
            <div class="card py-4">
                <div class="card-body text-center">
                    <i class="fas far fa-eye text-primary mb-2"></i> 	
                    <h4 class="text-uppercase m-0 text-gold"><a href="/cosmic-collective">MEET THE COSMIC COLLECTIVE</a></h4>
                    <hr class="my-4" />
                    <div class="small text-gold"><a href="/cosmic-collective">Put a face to a name.</a></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3 mb-md-0">
            <div class="card py-4">
                <div class="card-body text-center">
                    <i class="fas fa-envelope text-primary mb-2"></i>
                    <h4 class="text-uppercase m-0 text-gold">Email</h4>
                    <hr class="my-4" />
                    <div class="small text-gold"><a href="mailto:cosmicteam@soulstrology.com">CosmicTeam@Soulstrology.com</a></div>
                </div>
            </div>
        </div>
       
    </div>
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="https://www.instagram.com/soulstrology"><i class="fab fa-instagram social-icons"></i></a>
            <a class="mx-2" href="https://www.amazon.com/gp/product/0593196686/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0593196686&linkCode=as2&tag=alchemywitham-20&linkId=9963411e0dfde202c868931fd8865341"><i class="fab fa-amazon social-icons"></i></a>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50 bottom"><div class="container">&copy; 2020 BAMBI PRODUCTIONS, INC. &middot; <a class"footer-links" href="https://soulstrology.com/privacy-policy">PRIVACY</a> &middot; <a class"footer-links" href="/terms-conditions">TERMS</a> &middot; <a class"footer-links" href="https://abrabinah">DESIGNED BY ABRABINAH DESIGN HOUSE</a></div></footer>

<!-- Bootstrap core JS-->
<script src="{{'assets/javascript/jquery.min.js'|theme}}"></script>
<script src="{{'assets/javascript/app.js'|theme}}"></script>
<script src="{{'assets/javascript/jquery.easing.min.js'|theme}}"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="{{'assets/js/script.js'|theme}}"></script>
<!--<script src="{{'assets/js/hideemail.js'|theme}}"></script>-->