[viewBag]
==
<div id="myRetro" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
        <li data-target="#myRetro" data-slide-to="0" class="active"></li>
        <li data-target="#myRetro" data-slide-to="1"></li>
        <li data-target="#myRetro" data-slide-to="2"></li>
        <li data-target="#myRetro" data-slide-to="3"></li>
        <li data-target="#myRetro" data-slide-to="4"></li>
        <li data-target="#myRetro" data-slide-to="5"></li>
    </ol>
                    
    
<div class="carousel-inner">

<!-- First Slide -->

<div class="carousel-item active">
<img class="img-fluid" src="https://soulstrology.com/storage/app/media/mercury_blog.jpg">
                    
    <div class="container">
    <div class="carousel-caption text-left">
        
        <h4>MERCURY RETROGRADE IN AQUARIUS</h4>
        <h3><b>JAN 30, 2021 - FEB 20, 2021</b></h3>
        <a href="https://soulstrology.com/member-post/mercury-retrograde-aquarius-jan-30-feb-20-2021" target="_blank">I know Mercury retrograde often gets a bad rap, but Soulstrology tells us that this retrograde is to be warmly embraced...</a>

    </div>
    </div>   
</div>
       
<!-- Second Slide -->
<div class="carousel-item">
<img class="img-fluid" src="https://soulstrology.com/storage/app/media/neptune_blog.jpg">
                        
    <div class="container">
    <div class="carousel-caption text-left">
                        
        <h4>NEPTUNE DIRECT</h4>
        <h3><b>NOV 28, 2020 - JUN 25, 2021</b></h3>
        <a href="https://soulstrology.com/member-post/neptune-direct-november-28th-2020-june-25th-2021" target="_blank">Since the end of June, the swirling curtain of fog that Neptune creates has been pulled back. Neptune's retrograde is the unique one that makes issues more stark and clear than during its direct phase. Since Neptune’s natural state of being is dreamy, ethereal, and as a master escape artist, we...</a>
    </div>
    </div>                
</div>

<!-- Third Slide -->  
<div class="carousel-item">
<img class="img-fluid" src="https://soulstrology.com/storage/app/media/saturn_blog.jpg">
                    
    <div class="container">
    <div class="carousel-caption text-left">
                        
        <h4>SATURN DIRECT IN CAPRICORN</h4>
        <h3><b>SEPT 26, 2020</b></h3>
        <a href="https://soulstrology.com/member-post/saturn-direct-september-28th" target="_blank">On September 28th, Saturn stations direct and begins its final passage through Capricorn. Saturn will be exiting its home sign, where it has mostly resided since December 19th, 2017. This is the last step in the karmic cycle of the last 29-30 years since Saturn was last in Capricorn...</a>

    </div>
    </div>
</div>

<!-- Fourth Slide -->           
<div class="carousel-item">
<img class="img-fluid" src="https://soulstrology.com/storage/app/media/jupiter_blog.jpg">
                    
    <div class="container">
    <div class="carousel-caption text-left">
                        
        <h4>JUPITER DIRECT</h4>
        <h3><b>SEPTEMBER 12, 2020</b></h3>
        <a href="https://soulstrology.com/member-post/jupiter-direct-capricorn" target="_blank">Oh, happy day! Jupiter goes direct on September 12th at 17°of Capricorn! This is the beginning of the final phase of Jupiter and the sea-goat. By the end of December, Jupiter will move into Aquarius and won't be back in its sign of fall for twelve more years. If you are unfamiliar with the terminology of a planet's fall, it means that not only is...</a>

    </div>
    </div>
</div>
        
<!-- Fifth Slide -->      
<div class="carousel-item">
<img class="img-fluid" src="https://soulstrology.com/storage/app/media/uranus_blog.jpg" >
                    
    <div class="container">
    <div class="carousel-caption text-left">
        
        <h4>URANUS RETROGRADE</h4>
        <h3><b>AUG 5, 2020 - JAN 18, 2020</b></h3>
        <a href="https://soulstrology.com/member-post/uranus-retrograde-august-15th-january-18th" target="_blank">Uranus is the planet of great awakenings and it has been busy in Taurus since last stationing direct in January. It entered its direct phase on January 10th, two days before the Saturn/Pluto conjunction in Capricorn, and the same night as the lunar eclipse at 19° Capricorn. Major shifts were initiated...</a>

    </div>
    </div>        
</div>

<!-- Sixth Slide -->
<div class="carousel-item">
<img class="img-fluid" src="https://soulstrology.com/storage/app/media/chiron_blog_banner.jpg">
                    
    <div class="container">
    <div class="carousel-caption text-left">
        
        <h4>CHIRON RETROGRADE</h4>
        <h3><b>JULY 11, 2020 - DEC 15, 2020</b></h3>

        <a href="https://soulstrology.com/member-post/chiron-retrograde-july-11-december-15" target="_blank">In astrology, Chiron represents our karmic wound. A wound we were born into this world with, that is reinforced in our childhood. Abandonment, judgment, rejection, physical trauma. Chiron is that part of us that is most vulnerable. That part of us that holds the heaviest burden of shame. The part of us that...</a>

    </div>
    </div>    
</div>   
      

<!-- end of carousel -->                    
</div>
        
<a class="carousel-control-prev" href="#myRetro" role="button" data-slide="prev">
    <span aria-hidden="true"><img class="img-fluid" src="https://soulstrology.com/storage/app/media/s_moon.png" height="50" width="50"></span>
    <span class="sr-only">Previous</span>
</a>
                
<a class="carousel-control-next" href="#myRetro" role="button" data-slide="next">
    <img class="img-fluid" src="https://soulstrology.com/storage/app/media/s_sunshine.png" height="50" width="50">
    <span class="sr-only"></span>
</a>
<!-- end of myCarousel -->  
</div>