/* This is a single-line comment */

@media (max-width: 991px) {

.member_clickables{
    width: 100%;
}
    
.uk-grid-match>* {
    flex-wrap: wrap;
    width: 400px;
}

}



img[src*="#memberpostimage"] {
   width: 100%;
 
}


.form-search{
    height: 37px;
    border: none;
    border-bottom: 2px solid #cdb685;
    width: 160px;
    color: #666;
}




.post-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 100px;
    padding: 0;
    margin: 0;
    list-style: none;
}





  
.post-list {
    grid-column: 4/-4;
    padding: 0;
    margin-bottom: 90px;
}



.post_title{
    padding-top: 75px;
}






/* Member Realm Blogs*/

@media (min-width: 960px) {
.uk-width-1-3\@m {
    width: calc(100% * 1 / 3.001);
}
}

@media (min-width: 1200px){
.uk-grid {
    margin-left: -40px;
}

}

.uk-visible-toggle {
    -webkit-tap-highlight-color: transparent;
}
.uk-position-relative {
    position: relative!important;
}

.uk-section>:last-child {
    margin-bottom: 0;
}

.uk-align-center {
    margin-left: auto;
    margin-right: auto;
}

*+[class*=uk-align] {
    margin-top: 30px;
}
[class*=uk-align] {
    display: block;
    margin-bottom: 30px;
}
.uk-slider-container {
    overflow: hidden;
}
.uk-slider {
    -webkit-tap-highlight-color: transparent;
}

.uk-section {
    box-sizing: border-box;
}

*+.uk-margin {
    margin-top: 20px!important;
}
.uk-margin {
    margin-bottom: 20px;
}
.uk-flex-center {
    justify-content: center;
}
.uk-dotnav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -12px;
}

.uk-position-center-left {
    left: 0;
}
[class*=uk-position-center-left], [class*=uk-position-center-right] {
    top: 40%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[class*=uk-position-bottom], [class*=uk-position-center], [class*=uk-position-left], [class*=uk-position-right], [class*=uk-position-top] {
    position: absolute!important;
}
.uk-slidenav-large {
    padding: 10px 10px;
}
.uk-slidenav {
    padding: 5px 10px;
    color: rgba(102,102,102,.5);
    transition: color .1s ease-in-out;
}

.uk-icon {
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: none;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}

[class*=uk-width] {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 640px){
.uk-child-width-1-2\@s>* {
    width: 50%;
}
}
[class*=uk-child-width]>* {
    box-sizing: border-box;
    width: 100%;
}

.uk-slider-items>* {
    flex: none;
    position: relative;
    touch-action: pan-y;
}

.uk-grid-item-match, .uk-grid-match>* {
    flex-wrap: wrap;
    width: 300px;
}

.uk-grid>* {
    padding-left: 30px;
}

.uk-grid>* {
    margin: 0;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uk-slider-items.uk-grid {
    flex-wrap: nowrap;
}

.uk-slider-items {
    will-change: transform;
    position: relative;
}

.uk-grid {
    margin-left: -30px;
}

.uk-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}



